@mixin flex($wrap: auto, $alignmentX: auto, $alignmentY: auto) {
    display: flex;

    @if $wrap !=auto {
        flex-wrap: $wrap;
    }

    @if $alignmentX !=auto {
        justify-content: $alignmentX;
    }

    @if $alignmentY !=auto {
        align-items: $alignmentY;
    }
}

.footer {
    padding: 25px 20px 30px 20px;

    background-color: #313f59;
    color: #7a88a4;

    .footer-wrapper {
        @include flex(wrap, space-between, center);

        .ref-logo-desktop {
            display: none;
        }

        .item-description-company {
            display: none;
            margin-top: 10px;
        }

        .description-company-ref {
            color: #6db3f1;
            cursor: pointer;
        }

        .has-dynamic-width {
            width: 100%;
        }

        .contact-phone-ref {
            display: block;
            padding-left: 20px;

            background: url("../../../assets/images/phone.svg") no-repeat;
            background-position: 4px center;
            color: #7a88a4;
            cursor: pointer;
        }

        .contact-email-ref {
            padding-left: 20px;

            background: url("../../../assets/images/email.svg") no-repeat;
            background-position: 0 center;
            color: #7a88a4;
            cursor: pointer;
        }

        .item-about-website {
            display: none;
            max-width: 570px;
        }

        .about-website-title {
            font-weight: 600;
        }

        .about-website-description {
            margin-top: 10px;
        }
    }
}


@media (min-width: 600px) {
    .footer .footer-wrapper {
        align-items: normal;
    }

    .footer .footer-wrapper :nth-child(2) {
        order: 3;
    }

    .footer .footer-wrapper .has-dynamic-width {
        width: max-content;
        order: 2;
    }

    .footer .footer-wrapper .ref-logo {
        margin-top: -5px;
    }
}


@media (min-width: 1024px) {
    .footer {
        @include flex(auto, space-between, center);

        min-height: 180px;
    }

    .footer .footer-wrapper {
        margin: 0 auto;
        width: 1024px;
    }

    .footer .footer-wrapper> :nth-child(1) {
        order: 2;
        text-align: right;
    }

    .footer .footer-wrapper> :nth-child(2) {
        display: none;
    }

    .footer .footer-wrapper .item-description-company {
        display: block;
    }

    .footer .footer-wrapper .item-contact {
        display: none;
    }

    .footer .footer-wrapper .has-dynamic-width {
        order: 1;
    }

    .footer .footer-wrapper .item-about-website {
        display: block;
    }

    .footer .footer-wrapper .ref-logo-desktop {
        display: inline-block;
        margin-top: -20px;
    }

    .footer .footer-wrapper .ref-logo {
        display: none;
    }
}