.header {
  min-height: 84px;
  min-width: 375px;
  background-color: $color-header-bg;

  @include tablet {
    min-height: 54px;
  }

  .container{
    @include tablet {
      padding-top: 13px;
    }
  }

  .header-logo {
    .img-logo {
      height: 28px;
      width: 137px;
    }

    @include tablet {
      padding: 0 10px 0 ;
    }
  }
}



