.header {
  // min-width: 375px;
  padding: 13px 10px;
  background-color: $color-white;

  @include touch {
    padding-top: 42px;
  }

  .header-logo {
    .img-logo {
      height: 28px;
      width: 137px;
    }
  }
}