.autocomplete {
    padding-left: 12px;

    height: 100%;
    width: 100%;

    border: none;
    outline: none;

    &:focus {
        outline: 2px solid#6db3f1;
        outline-offset: -2px;
    }
}

.is-reverse-active {
    padding-right: 30px;
}