.container {
  margin: 0 auto;
  max-width: 1140px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "inter";
}

a {
  text-decoration: none;
  color: #000000;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
p,
ul,
button {
  margin: 0;
}

button {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}