.autocomplete {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    width: 100%;
    height: 48px;

    font-size: $small;

    .autocomplete-departure {
        width: 100%;
        height: 100%;
    }

    .autocomplete-arrival {
        margin-top: 2px;

        width: 100%;
        height: 100%;
    }
}

@include tablet {
    .autocomplete .autocomplete-departure {
        width: calc(50% - 1px);
    }

    .autocomplete .autocomplete-arrival {
        margin-top: 0;
        margin-left: 2px;

        width: calc(50% - 1px);
    }
}

@include desktop {
    .autocomplete {
        flex-wrap: nowrap;
        width: 50%;
    }
}