.autocomplete {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    width: 100%;

    font-size: $small;

    .autocomplete-departure {
        position: relative;
        width: 100%;

    }

    .autocomplete-arrival {
        position: relative;
        margin-top: 2px;

        width: 100%;
    }

    .error-message {
        position: static;
        margin: 0 auto;

        top: 100%;
        padding-top: 4px;

        text-align: center;
        color: $color-red-orange-craiola;
        font-weight: bold;
    }

    .has-error-select {
        /deep/.autocomplete {
            outline: 2px solid $color-fiery-orange !important;
            outline-offset: -2px;
        }
    }
}

@include tablet {
    .autocomplete .autocomplete-departure {
        width: calc(50% - 1px);
    }

    .autocomplete .autocomplete-arrival {
        margin-top: 0;
        margin-left: 2px;

        width: calc(50% - 1px);
    }
}

@include desktop {
    .autocomplete {
        flex-wrap: nowrap;
        width: 50%;
    }

    .autocomplete .error-message {
        position: absolute;
        margin: 0;
        text-align: left;
    }
}