.autocomplete {
    display: flex;
    justify-content: space-between;
    width: 50%;
}

.autocomplete-departure {
    width: calc(50%);
    position: relative;
}

.autocomplete-arrival {
    margin-left: 2px;
    width: calc(50% - 2px);
    position: relative;
}