.footer {
    padding: 0 20px;

    // min-height: 130px;

    background-color: $color-dark-blue;

    line-height: 19px;
    font-size: $small;
    color: $color-light-gray;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    & .about-us {
        display: none;
    }

    & .general {
        margin-top: 26px;
    }

    & .contacts-mobile {
        margin-top: 26px;
        display: none;
    }

    & .copyrights {
        margin-top: 26px;
    }

    & .contacts-desktop {
        display: block;
        margin-top: 14px;
        width: 100%;
    }

    .logo-desktop {
        display: none;
        width: 100px;
        height: 40px;
    }

    .logo-mobile {
        width: 109px;
        height: 23px;
    }

    .description-company {
        display: none;
        margin-top: 7px;
    }

    .company {
        color: #6db3f1;
        cursor: pointer;
    }

    .phone {
        display: block;

        padding-left: 20px;

        background: url("../../../assets/images/phone.svg") no-repeat;
        background-position: 4px center;
        background-size: 8px 13px;

        color: $color-light-gray;
        cursor: pointer;
    }

    .email {
        padding-left: 20px;

        background: url("../../../assets/images/email.svg") no-repeat;
        background-position: 0 center;
        background-size: 12px 8px;

        color: $color-light-gray;
        cursor: pointer;
    }

    .title {
        font-weight: 600;
    }

    .description {
        margin-top: 10px;
    }
}


@include tablet {
    .footer {
        min-height: 100px;
    }

    .footer .contacts-mobile {
        display: block;
    }

    .footer .contacts-desktop {
        display: none;
    }
}


@include desktop {
    .footer {
        min-height: 180px;
    }

    .footer .about-us {
        display: block;
        margin-top: 53px;
        max-width: 570px;
    }

    .footer .general {
        margin-top: 33px;
        text-align: right;
    }

    .footer .contacts-mobile {
        display: none;
    }

    .footer .copyrights {
        display: none;
    }

    .footer .description-company {
        display: block;
    }

    .footer .logo-desktop {
        display: inline-block;
    }

    .footer .logo-mobile {
        display: none;
    }
}