.dropdown-wrapper {
  position: relative;
  display: flex;
  width: 100%;
  padding: 14px 30px 14px 12px;
  margin: 0 auto;
  border-radius: 0 0 4px 4px;
  background-color: $color-white;
  cursor: pointer;
  align-items: center;
  @include touch {
    border-radius: 0 0 4px 0;
  }
  @include desktop {
    border-radius: 0 4px 4px 0;
  }
}

.dropdown-output {
  overflow: hidden;
  font-size: $small;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.arrow {
  position: absolute;
  right: 12px;
  width: 10px;
  height: 10px;
  border-right: 1px solid $color-primary;
  border-bottom: 1px solid $color-primary;
  transform: rotate(45deg);
  transition: .2s linear;
}

.dropdown-body {
  position: absolute;
  display: none;
  width: 100%;
  top: 100%;
  padding: 11px 16px;
  margin-top: 2px;
  border-radius: 4px 4px 4px 4px;
  background-color: $color-white;
  transition: all 0.3s ease-out;
}

.is-active {
  .arrow {
    top:50%;
    transform: rotate(-135deg);
  }
  .dropdown-body {
    display: block;
  }
}


